<?xml version="1.0" ?>
<NVME_driver>
    <!-- Settings for NVME -->
    <IO_queue_config length="1024" />
    <IO_queues>
      <Submission_queue id="1" core="1"/>
      <Completion_queue id="1" core="2"/>
      <Submission_queue id="2" core="3"/>
      <Completion_queue id="2" core="4"/>
      <Submission_queue id="3" core="5"/>
      <Completion_queue id="3" core="6"/>
    </IO_queues>    
</NVME_driver>
