<?xml version="1.0" ?>
<NVME_driver>
    <!-- Settings for NVME -->
    <IO_queue_config length="64" />
    <IO_queues>
      <Completion_queue id="1" core="2" />
      <Submission_queue id="1" core="22" />
      <Completion_queue id="1" core="3" />
      <Submission_queue id="1" core="23" />
    </IO_queues>    
</NVME_driver>
